@media(max-width: 768px) {

  header {
    height: 580px;
  }

  .background {
    height: 580px;
    background-position: 50% 0;
  }

  header ul {
    height: 40px;
  }

  header li {
    display: none;
  }

  .header-nav-bar {
    display: block;
  }

  .about {
    padding: 100px 10px;
  }

  .profile-image {
    padding-top: 0;
  }

  .skill {
    height: 1200px;
  }

  .contact-form-content {
    width: 100%;
  }
}
