@media(max-width: 1000px) {
  header li {
    width: 15%;
  }

  header ul {
    margin-right: 0;
  }
}

@media(max-width: 670px) {
  header ul {
    padding-right: 0;
    text-align: right;
  }

  header li {
    display: none;
  }

  .menu-icon {
    display: block;
    float: right;
  }
}
